/********************************** Left Menu ***********************************/
li{
	overflow: auto;
}

#wrap .cont{ 
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0px;
	margin-left: 0px; 

	z-index: 101;
	
	background-color: white;
	border:1px solid #666666;
}

.toggleButton{ 
	width: 20px; 
	height: 100px; 
	position: absolute; 
	right: -22px;
	cursor: pointer; 
	text-align: center; 
	
	border:1px solid #666666;
	background: url(smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) ;
}

.toggleButton h3{
	-webkit-transform: rotate(-90deg);	
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	top: 28px;
	right: -45px;
	width:102px;
	height:22px;
	font-size: 0.7em;
}

.toggleButton.open{
	background: url(smoothness/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x
}

.header-menu{
	line-height:32px;
	text-align:center;
	background-color: #6d6d6d;
	color: #fff;
	font-family: Arial;
	font-size: 16px;
}

/*.menu-content{
	margin:10px;
}*/

.nosidebar .cont{
	left: -200px;
	z-index: 0;
}

.close-button{
	background: url(myTheme/close-button.png);
	width:32px;
	height:32px;
	float:right;

}

/***************************** Menu 1: Interactors ******************************/

.nav label{
	font-size: 13px;
}

.nav{
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

.nav li.tglFamily > a{
	display: block;
	padding: 4px 10px;
	background: url(myTheme/state-default.png) left bottom repeat-x;
}

.nav li.form > a{
	display: block;
	padding: 4px 10px;
	background: url(myTheme/state-default2.png) left bottom repeat-x;
}

.nav div.formParam {
	display: block;
	padding: 4px 10px;
	text-decoration: none;
}

.nav li.open > a{
	background: url(myTheme/state-open.png) left bottom repeat-x;
}

.nav a:hover, .nav a:focus, .nav a:active, .nav a:visited {
	/*text-decoration: underline;*/
	cursor: pointer;
	color:#000;
	background: url(myTheme/state-hover.png) left bottom repeat-x;
}

.nav .family{
	padding: 0;
}

.submit{
	/*display: block;*/
}


/***************************** Menu 2: Informations *****************************/
p{
	font-weight: bold;
}

#infoView p{
	margin: 5 5 5 5;
	font-size:12px;
/*	font-weight:bold;*/
}
#infoView ul{
	padding: 0;
	margin:0 0 0 20;

}
#infoView li{
	font-size: 12px;
}

#infoNodes {
	/*margin: 5 5 5 5;*/
	padding: 5px;
	font-family:arial;
	font-size:12px;
	/*font-weight:bold;*/

	/*border: 1px solid #666666;*/
}

#infoNodes p{
	margin: 2px;
}

#infoNodes ul{
	padding: 0;
	margin:0 0 0 20;
}

/******************************** Entanglement **********************************/

#entanglement-cont{	
	border: 1px solid #666666;
    position: relative;
    height: 70px;
    margin-bottom: 5px;

}

#bg  {
    /*background: #fdd0a2;*/
    opacity: 0.5; 
    position: absolute;
    height: 100%; width:100%;
}

#entanglement {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

	font-family:arial;
	font-size:12px;
}

#entanglement p{
	margin:2 2 5 2;
}

#entanglement ul{
	margin: 0;
	padding: 0 0 0 20;
}

/************************** Menu : VIsualisation ********************************/
