/********************************* General ***********************************/
*{font-family: Verdana,Arial,sans-serif;}

body{
    margin:0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.enable-text-selection{
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
    -ms-user-select: all;
}

li{list-style-type:none}

p{font-weight:bold;}

td{
	border-width:1px;
 	border-style:solid; 
 	width:50%;
	font-size: 0.7em
}
th{
	border-width:1px;
 	border-style:solid; 
 	width:50%;
	background: #cccccc;
}

/********************************** Body *************************************/
#wrap{
	overflow: hidden;
	position: absolute;
	height:97%;
	width: 100%;
	top:30px;
}
/********************************* Header ************************************/

#header{
	background: url(myTheme/test-header.png) repeat-x;
	border: 1px solid black;
	height:30px;
	color: white;
}
#header-content{
	position: absolute;
	left:30px;
	right:0px;
	height:28px;
	z-index: 200;
}
#header-logo{
	display:inline-block;
	margin-right:12%;
	font-family: "Caslon";
	font-style: italic;
	font-size:1.6em;
	vertical-align: top;
}
#menu-header{
	display: inline-block;
}
#menu {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #000;
	color: #fff;
	width: 130px;
	font: 0.8em "Trebuchet MS", sans-serif;
	border-radius: 10px;
}
#menu a{
	display: block;
	padding: 4px 10px;
	color: #fff;
	text-decoration: none;
	min-height: 21px;
	background: url(myTheme/test-header.png) left bottom repeat-x;

}
#menu .hmenu a, {
	
/*	background-image: url(myTheme/state-default.png);*/
}
#menu .open a,{
	border-radius: 10px;
	/*background-image: url(menu-item-enroule.png);*/
}
#menu a:hover, #menu a:focus, #menu a:active {
	text-decoration: underline;
	
}

#menu .submenu {
	font-size: .8em;
	/*background: #ccc url(subMenu.png) 0 0 repeat-x;*/
	font-size: .9em;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #666;
	border-radius: 10px;
	
}
#menu .submenu li{
	border-radius: 10px
}
#menu ul.submenu a {
	background: none;
	padding: 3px 10px;
	border-radius: 10px;
}
#header-content button{
	float:right;
}

/******************************** Workspace **********************************/
#container {
	padding-left: 20px;
	height: 100%;
	bottom: 0px;
	border:1px solid #666666;
	background:#F0F0F0;
	
}


/********************************** View *************************************/
.ui-dialog{
	padding: 1px;
	font-size: 0.8em;
}

.ui-dialog .ui-dialog-titlebar{
	padding:0 10 0 10;
	background: url(smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

.ui-dialog .ui-dialog-title {
	width: auto ;
	font-size: 12px;
	
}

.ui-dialog .ui-dialog-titlebar button{
	height: 20px;
	font-size: 11px;
	float:right;
	
}

/* hide close button on the dialog window */
/*.ui-dialog-titlebar-close {
  visibility: hidden;
}*/

.ui-dialog .ui-dialog-content{
	padding:2px;
}

.node.text, .snippet{
	stroke: black;
	color: black;
	stroke-width: 0.5;
	font-family: Arial;
	font-size: 12;
}
.link{
	stroke: #808080;
	stroke-width:1px;
}

#dataTable{
	border-collapse: collapse;
}

.dataTable{
	table-layout:fixed;
	border-collapse: collapse;
}

.dataTable th{
	width: 100px;
}
.dataTable td{
	padding:0px;
	width:100px;
	overflow:auto;
	vertical-align: center;
	height: 20px;
}
 .editData{
 	vertical-align: top;
}





/***************************** Information zone ******************************/

@font-face {
    font-family: 'EntypoRegular';
    src: url('../font/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-webfont.woff') format('woff'),
         url('../font/entypo-webfont.ttf') format('truetype'),
         url('../font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
