/*****************************************************************************/
/********************************* General ***********************************/
/*****************************************************************************/
* {
	font-family: Verdana,Arial,sans-serif;
}

.enable-text-selection {
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
    -ms-user-select: all;
}


/*****************************************************************************/
/********************************** Body *************************************/
/*****************************************************************************/
.disable-text-selection {
    margin:0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

#wrap{
	overflow: hidden;
	position: absolute;
	height:97%;
	width: 100%;
	top:30px;
}
/*****************************************************************************/
/********************************* Header ************************************/
/*****************************************************************************/
#header{
	background: url(myTheme/test-header.png) repeat-x;
	height: 30px;
	color: white;
}

#header-content{
	position: absolute;
	left: 30px;
	right: 0px;
	z-index: 200;
}

#header-logo{
	display: inline-block;
	margin-right: 12%;
	vertical-align: top;
	font: italic 1.6em "Caslon";
}

#about{
    display: inline-block;
    margin-right: 12%;
    vertical-align: middle;
    color: #fff;
    background: none;
    text-decoration: none;
    /*font: italic 1.6em "Caslon";*/
}

.inbarmenu {
	display: inline-block;
	height: 30px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 130px;
    vertical-align: bottom;
    font-size:.9em;
	/*font: 0.8em "Trebuchet MS", sans-serif;*/
}

.submenu{
	background: black;
}
.inbarmenu a{
	display: block;
	padding: 3px 10px;
	color: #fff;
	background: none;
	text-decoration: none;
	min-height: 22px;
}

.inbarmenu a:hover, #menu a:focus, #menu a:active {
	text-decoration: underline;
}

.inbarmenu .submenu {
	font-size: .9em;
	margin: 0px;
	padding: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    /*pointer-events: none;*/
}

#header-content button{
	float: right;
}

/*****************************************************************************/
/******************************** Workspace **********************************/
/*****************************************************************************/
#container {
	height: 100%;
	bottom: 0px;
	background: #F0F0F0;	
}

/*****************************************************************************/
/********************************** View *************************************/
/*****************************************************************************/
.ui-dialog{
	/*padding: 1px;*/
	/*test*/
	padding: 0px;
	/*test*/
	/*font-size: 0.8em;*/
}

.ui-dialog .ui-dialog-titlebar {
	/*test*/
	padding: 5 30 5 10;
	background: #C0C0C0;
	border:none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 20px;
	/*test*/
	/*padding: 2px 10px ;*/
}

.ui-dialog .ui-dialog-titlebar.active{
	background: #E9E9E9;
	/*background: url(smoothness/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x*/
}

.ui-dialog-titlebar .ui-dialog-title {
	/*test*/
	width: 60%;
	font-size: 15px;
	color: black;
	/*test*/
	/*width: auto ;
	font-size: 12px;*/
}

.ui-dialog .ui-dialog-titlebar button{
	height: 20px;
	font-size: 11px;
	float:right;
}

.ui-dialog .ui-dialog-content{
	padding:2px;
}

.ui-dialog  select{
				float: right;
				top: 17%;
				font-size: 13px;
				margin: 0px;
			}




.node.text, .snippet{
	stroke: black;
	color: black;
	stroke-width: 0.5;
	font-family: Arial;
	font-size: 12;
}
.link{
	stroke: #808080;
	stroke-width:1px;
}

#dataTable{
	border-collapse: collapse;
}

.dataTable{
	table-layout:fixed;
	border-collapse: collapse;
}

.dataTable th{
	width: 100px;
	border-width:1px;
 	border-style:solid; 
 	width:50%;
	background: #cccccc;
}
.dataTable td{
	width:100px;
	height: 20px;
	padding:0px;
	overflow:auto;
	vertical-align: center;
	border-width:1px;
 	border-style:solid; 
	font-size: 0.7em	
}


 .editData{
 	vertical-align: top;
}





/***************************** Information zone ******************************/

@font-face {
    font-family: 'EntypoRegular';
    src: url('../font/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-webfont.woff') format('woff'),
         url('../font/entypo-webfont.ttf') format('truetype'),
         url('../font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
