/********************************** Body *************************************/
body{
	margin:0px;
}

p{
	margin: 2;
}

#wrap{
	margin: 0 ;
	overflow: hidden;
	margin-bottom: 0px;
	position: relative ;
	padding: 0;
}
/********************************* Header ************************************/

#header{
	padding:1 0 1 30;
	margin-bottom:4px;
	border: 1px solid black;
	/*border-radius:7px;*/
	background-image:url('header.png');
	background-repeat:repeat-x;
	height:30px;
}

#header-logo{
	display:inline-block;
	margin-right:12%;
	font-family: "Caslon";
	font-style: italic;
	font-size:1.5em;
}

#header-input{
	display:inline-block;
}

.input-browser {
	width: 100%;
	color:#332211;
}


/******************************** Left menu **********************************/

#wrap .cont{ 
	position: absolute;
	width: 220px;
	height: 500px;
	top: 5px;
	margin-left: 0px; 
	padding: 5px;  
	
	background-color: white;
	border:1px solid #666666;
	border-radius:7px;
}
  
.toggleButton{ 
	width: 15px; 
	height: 30px; 
	line-height: 30px; 
	background: #ccc; 
	cursor: pointer; 
	position: absolute; 
	text-align: center; 
	right: -17px;
	border:1px solid #666666;
}



/* This imageless css button was generated by CSSButtonGenerator.com */
.button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	/*font-size:7px;*/
	/*font-weight:bold;*/
	padding:0px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	height:25px;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#infoView p{
	margin: 5 5 5 5;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
}


/******************************** Workspace **********************************/


#container {
	margin-left: 0px; 
	padding: 2px; 
	padding-left: 15px;
	height: 95%;
	
	border:1px solid #666666;
	background:#F0F0F0;
	border-radius:7px;
}

/********************************** View *************************************/

/* hide close button on the dialog window */
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-widget .ui-widget{
	font-size: 11px;
	float:right;
}
.ui-dialog .ui-dialog-title {
	width: auto ;
}

.ui-dialog{
	padding: 1px;
}

.ui-dialog .ui-dialog-content{
	padding:2px;
}

.ui-dialog .ui-dialog-titlebar{
	padding:0 10 0 10;
}
.ui-dialog .ui-dialog-titlebar button{
	height: 20;
}

/***************************** Information zone ******************************/

#entanglement{
	margin:5;
	padding: 5;
	border: 1px solid #666666;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
}
<<<<<<< HEAD

@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo-webfont.eot');
    src: url('font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-webfont.woff') format('woff'),
         url('font/entypo-webfont.ttf') format('truetype'),
         url('font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
=======
>>>>>>> afe8b48c77b1a28ec3a0343096225713d708c16f
