/********************************** Body *************************************/
body{
	margin:0px;
}

/*p{
	margin: 2;
}
*/
#wrap{
	margin: 0 ;
	overflow: hidden;
	margin-bottom: 0px;
	position: relative ;
	padding: 0;
}
/********************************* Header ************************************/

#header{
	padding:1 0 1 30;
	margin-bottom:4px;
	border: 1px solid black;
	/*border-radius:7px;*/
	/*background-image:url('header.png');*/
	background-repeat:repeat-x;
	height:30px;
}

#header-logo{
	display:inline-block;
	margin-right:12%;
	font-family: "Caslon";
	font-style: italic;
	font-size:1.5em;
}

#header-input{
	display:inline-block;
}

.input-browser {
	width: 100%;
	color:#332211;
}


/******************************** Left menu **********************************/




/******************************** Workspace **********************************/


#container {
	margin-left: 0px; 
	padding: 2px; 
	padding-left: 15px;
	height: 95%;
	
	border:1px solid #666666;
	background:#F0F0F0;
	border-radius:7px;
}

/********************************** View *************************************/

/* hide close button on the dialog window */
.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar button {
height: 20;
font-size: 11px;
	float:right;
}
/*.ui-widget .ui-widget{
	font-size: 11px;
	float:right;
}*/
.ui-dialog .ui-dialog-title {
	width: auto ;
}

.ui-dialog{
	padding: 1px;
}

.ui-dialog .ui-dialog-content{
	padding:2px;
}

.ui-dialog .ui-dialog-titlebar{
	padding:0 10 0 10;
}
.ui-dialog .ui-dialog-titlebar button{
	height: 20;
}

/***************************** Information zone ******************************/



@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo-webfont.eot');
    src: url('font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-webfont.woff') format('woff'),
         url('font/entypo-webfont.ttf') format('truetype'),
         url('font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
